.project {
    display: inline-block;
    cursor: pointer;
    color: #121212;
    margin: 0 10px;
}

.p-title-outline {
    position: relative;
}

.p-title::after {
    content: '';
    width: 35px;
    height: 3px;
    background: orange;
    position: absolute;
    top: 13px;
    right: 26px;
}

.active {
    color: orange;
    text-decoration: underline;
    transition: all ease 0.5s;
}

.project-card {
    position: relative;
}

.details-project {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    overflow: hidden;
    height: 0;
    width: 0;
    animation: increase;
    transition: 0.5s ease;
}

.project-card:hover .details-project {
    height: 30%;
    width: 100%;
}