/* Services Section Style */
.s-title-outline {
  position: relative;
}
.s-title::after,
.s-title::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 3px;
  background: #1da1f2;
}
.s-title::before {
  top: 14px;
  margin-left: -47px;
}
.s-title::after {
  top: 14px;
  margin-left: 13px;
}
/* Project section style */
.project {
  display: inline-block;
  cursor: pointer;
  margin: 0 10px;
}

.p-title-outline {
  position: relative;
}

.p-title::before,
.p-title::after {
  content: "";
  width: 35px;
  height: 3px;
  background: #1da1f2;
  position: absolute;
}
.p-title::after {
  top: 14px;
  right: -35px;
}

.p-title::before {
  top: 14px;
  left: -47px;
}

.active {
  color: #1da1f2;
  text-decoration: underline;
  transition: all ease 0.5s;
}

.project-card {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}

.details-project {
  position: absolute;
  bottom: -70px;
  padding: 10px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  visibility: hidden;
  transition: 0.5s all;
}

.project-card:hover .details-project {
  bottom: 0px;
  visibility: visible;
}

/* Portfolio style ended */

/* TeamMembers style */
.m-title-outline {
  position: relative;
}
.m-title::before,
.m-title::after {
  content: "";
  width: 35px;
  height: 3px;
  background: #1da1f2;
  position: absolute;
}
.m-title::before {
  top: 14px;
  left: 21px;
}
.m-title::after {
  top: 14px;
  right: 16px;
}

.responsive-cell-block {
  min-height: 75px;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
}

.team-head-text {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}
@media only screen and (min-width: 380px) {
  .responsive-container-block {
    display: grid;
    grid-template-columns: auto;
    margin-left: 30px;
  }
}

@media only screen and (min-width: 750px) {
  .responsive-container-block {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: -14px;
  }
}
@media only screen and (min-width: 1024px) {
  .responsive-container-block {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
.team-head-text {
  line-height: 50px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.container {
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
}

.card {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
}

.card-container {
  width: 280px;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
}

.name {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 16px;
  font-weight: 700;
}

.position {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.feature-text {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  color: rgb(122, 122, 122);
  line-height: 30px;
}

.social-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.social-icons a {
  color: #1da1f2;
}

.team-image-wrapper {
  clip-path: circle(50% at 50% 50%);
  width: 130px;
  height: 130px;
}

.team-member-image {
  max-width: 100%;
}

@media (max-width: 500px) {
  .card-container {
    width: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
  }
}

/* TeamMembers style ended */

/* Feedback style */
.f-title-outline {
  position: relative;
}
.f-title::before,
.f-title::after {
  content: "";
  width: 35px;
  height: 3px;
  background: #1da1f2;
  position: absolute;
}
.f-title::before {
  top: 14px;
  left: -16px;
}
.f-title::after {
  top: 14px;
  right: -14px;
}

.custom-effect {
  border: 1px solid #595857;
}
.custom-effect {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}
.custom-effect:hover {
  border: 1px solid #1da1f2;
}

/* Feedback style ended */

/* Blog and News Style */
.b-title-outline {
  position: relative;
}
.b-title::before,
.b-title::after {
  content: "";
  width: 35px;
  height: 3px;
  background: #1da1f2;
  position: absolute;
}
.b-title::before {
  top: 14px;
  left: -3px;
}
.b-title::after {
  top: 14px;
  right: -5px;
}

/* Blog and News Style ended */

/* Service Details Page style */
.s-icon {
  transition: 0.5s ease;
}

.single-service:hover .s-icon {
  transform: rotate(180deg);
}

/* Service Details Page Style ended */

/* portfolio  */
.image-container {
  overflow: hidden;
  height: 450px; /* Adjust the height to fit your image */
}

.image-container img {
  transition: all 4s ease-out;
}

.image-container:hover img {
  transform: translateY(-50%);
}

.common {
  border-radius: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}
@media screen and (max-width: 500px) {
  .s-title::after,
  .s-title::before,
  .p-title::after,
  .p-title::before,
  .b-title::after,
  .b-title::before,
  .m-title::after,
  .m-title::before,
  .f-title::after,
  .f-title::before {
    display: none;
  }
}
