

.swiper-wrapper{
  width: 30% !important;
}

.swiper-3d {
  perspective: 668px !important;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 200%;
  max-width: 115%;
}

.swiper-3d .swiper-slide-shadow-left {
  background-image:none !important;
}

.swiper-3d .swiper-slide-shadow-right {
  background-image:none !important;
}
@media only screen and (max-width: 500px) {
  .swiper-slide img {
    display: block;
    width: 200%;
    max-width: 140%;
  }
}